.basket-card {
  display: flex;
  width: 100%;
  height: 170px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 20px 20px;
  border-bottom: 1px solid #E6E6E6;

  &__photo-container {
    width: 120px;
    height: 120px;
    margin-right: -20px;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__information {
    margin-right: 50px;
    width: 256px;
  }

  &__gost {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.009em;
    padding: 5px 6px;
    border-radius: 4px;
    background-color: rgba(201, 61, 51, 0.1);
    color: rgba(201, 61, 51, 1);
    margin-right: 5px;
    cursor: pointer;

  }

  &__name {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;

  }
  
  &__price {
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    color:#B3B3B3;
    
  }

  &__amount {

  }

  &__final-price {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    width: 100px;
  }

  &__delete-button {
    border: none;
    background: none;
    cursor: pointer;
  }
}