@import './../styles/variables.scss';
@import './styles/ProductsTypePage.scss';
@import './styles/ProductsPage.scss';
@import './styles/MainPage.scss';
@import './styles/BasketPage.scss';

.page {
  height: max-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 1150px;
}

.main {
  height: 100%;
  flex: 1 1 100%;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  background-color: $grey_bg;
  padding-bottom: 50px;
  
  &__container {
    height: max-content;
    width: 100%;
    max-width: 1110px;
  }
}

